
* {
	box-sizing: border-box;
}

body {
	margin: 0 0 72px 0;
	padding: 0;
	background-image: url("../images/dust_scratches.png");
	color: #777;
}

/*
container class adds dimensions and cencers
*/
.container {
	width: 960px;
	margin: 0 auto;
}

/*
Header section | navigation bar
*/
header {
	font-family: Georgia, Times, 'Times New Roman', serif;
	background: #fff;
	overflow: hidden;
	border-bottom: 2px solid #ccc;
}

h1 {
	margin: 0;
	padding: 0 50px;
	background: #4aaaa5;
	float: left;
	color: #fff;
	line-height: 70px;
}

nav {
	float: right;
	line-height: 70px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	margin-left: 20px;
	color: #666;
	line-height: normal;
	padding: 5px 15px;
}

nav a:first-child,
nav a:nth-child(2) {
	border-right: 1px solid #ccc;
}

nav a:hover,
.active {
	background: #4aaaa5;
	border-radius: 50px;
	color: #eee;
	-webkit-transition: ease 300ms;
}

/*
Main content styles
*/

#main-content {
	background: #fff;
	padding: 25px 50px;
	margin-top: 40px;
	border: 1px solid #ddd;
	font-family: Arial,'Helvetica Nue', Helvetica, sans-sefif;
}

#main-content h2 {
	color: #4aaaa5;
	border-bottom: 4px solid #ccc;
	padding: 0 0 24px 0;
}

#main-content img {
	float: left;
	margin: 0 30px 30px 0;
}

#main-content p {
	line-height: 1.5;
}


/*
Form 
*/

form input[type=text],
form textarea {
	width: 100%;
	height: 30px;
	padding: 5px;
	font-size: 14px;
	margin: 10px 0;
	border: 1px solid #ddd;
}

form textarea {
	height: 150px;
}

form button {
	border: none;
	background: #4aaaa5;
	font-size: 14px;
	color: #fff;
	padding: 10px 30px;
}

/*
Portfolio images
*/
.clear {
	clear: both;
}

.galleryimage {
	width: 250px;
	height: 250px;
	float: left;
	margin-right: 40px;
	margin-bottom: 50px;
	position: relative;
}


.galleryimage img {
	width: 100%;
}

.galleryimage p {
	background: #4aaaa5;
	color: #eee;
	width: 100%;
	padding: 10px 0;
	position: absolute;
	bottom: -5px;
	text-align: center;
}



/*
Footer
*/

footer {
	background: #666666;
	position: fixed;
	width: 100%;
	bottom: 0;
	border-top: 8px solid #4aaaa5;
}

footer p {
	text-align: center;
	color: #ddd;
	line-height: 10px;
}


/*
Media Queries
*/

@media screen and (max-width: 980px) {


	.container {
		width: 95%;
		margin: 0 auto;
	}

	#main-content {
		width: 560px;
	}

	h1 {
		line-height: 60px;
		padding: 0 40px;
	}

	nav {
		line-height: 60px;
	}

	.galleryimage {
		width: 45%;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}


@media screen and (max-width: 768px) {
	h1 {
		font-size: 1.8em;
		padding: 0 10px;
	}

	#main-content {
		width: 100%;
	}

	.galleryimage {
		width: 46%;
		margin-bottom: 20px;
		overflow: hidden;
	}
}


@media screen and (max-width: 640px) {


	h1,
	nav,
	.galleryimage {
		width: 100%;
		text-align: center;
	}

	#main-content img {
		width: 100%;
	}

}











